@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECDFCC;
  --foreground: #181C14;
}

body {
  color: var(--background);
  background: var(--foreground);
}

/* Shimmer Animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Hover Effects for Benefits */
.group:hover .group-hover\:opacity-20 {
  opacity: 0.2;
}

.group:hover .group-hover\:opacity-40 {
  opacity: 0.4;
}

.group:hover .group-hover\:animate-shimmer {
  animation: shimmer 1.5s infinite;
}
